body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}

.main-nav li {
    width: 100px;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-size: 21px;
    font-weight: 600;
    color: #00A9D9;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav ul {
    list-style: none;
    display: flex;
    /*inline-flex will display itself inline with its pre-brother item if pre-brother is inline*/
    /*display: inline-flex;*/


    flex-direction: column;
    /*flex-direction: row;*/

    /*column(row)-reverse will make the childern items reverse*/
    /*flex-direction: column-reverse;*/
    /*flex-direction: row-reverse;*/
}

.main-header {
    background: #B61E32;
    padding: 10px;
}

.main-content {
    background: #F7CE2B;
    min-height: 40vh;
    padding: 10px;
}

.main-footer {
    background: #ABC999;
    padding: 10px;
    order: 1;
}

.appContainer {
    display: flex;
    flex-direction: column;
}
/*The order property specifies the order of a flexible item relative
to the rest of the flexible items inside the same container.*/
.main-nav {
    order: 0;
}

.appAlignment {
    min-height: 500px;
    background: #333333;
    display: flex;
    flex-direction: column;
    /*The justifyContent property aligns the flexible container's items
    when the items do not use all available space on the main-axis (horizontally).*/
    justify-content: space-around; /* flex-start center flex-end space-between space-around*/
    align-items: center; /*stretch center flex-start flex-end baseline*/
}

.ps {
    background: #f8f8f8;
    box-sizing: border-box;
}

.p2 {
    /*The align-self property specifies the alignment
    for the selected item inside the flexible container.*/
    align-self: center;  /*stretch center flex-start flex-end baseline*/

    /*The align-content property modifies the behavior of the flex-wrap property.
    It is similar to align-items,
    but instead of aligning flex items, it aligns flex lines.*/
    align-content: center;  /*stretch center flex-start flex-end baseline*/
}